<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head data-th-fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="../../../resources/bootstrap-3.6/css/bootstrap.css"
          data-th-href="@{/resources/bootstrap-3.6/css/bootstrap.css}" />

    <link type="text/css" rel="stylesheet" href="../../../resources/font-awesome-4.6.3/css/font-awesome.css"
          data-th-href="@{/resources/font-awesome-4.6.3/css/font-awesome.css}" />

    <!-- SB Admin CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="../../../resources/sbadmin/css/sb-admin.css"
          data-th-href="@{/resources/sbadmin/css/sb-admin.css}" />

    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../../../resources/js/jquery-1.4.js"
            data-th-src="@{/resources/js/jquery-1.4.js}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="../../../resources/bootstrap-3.6/js/bootstrap.js"
            data-th-src="@{/resources/bootstrap-3.6/js/bootstrap.js}"></script>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="../../../resources/sbadmin/js/sb-metisMenu.js"
            data-th-src="@{/resources/sbadmin/js/sb-metisMenu.js}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script type="text/javascript" src="../../../resources/sbadmin/js/sb-admin.js"
            data-th-src="@{/resources/sbadmin/js/sb-admin.js}"></script>
</head>
<body>

</body>
</html>